{
  "presets": [
    "flow",
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "safari >= 9",
          "ie >= 11"
        ],
        "node": "current"
      },
      "useBuiltIns": true,
      "loose": true,
      "modules": false
    }]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-react-jsx"
  ]
}
